<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Scopri l'applicazione per liberi professionisti: crea e gestisci fatture e preventivi in modo semplice e veloce, direttamente online. Con la nostra soluzione cloud, puoi generare documenti professionali in PDF e inviarli via email ai tuoi clienti con un clic. Ideale per freelance che cercano efficienza e professionalità nella gestione della fatturazione e dei preventivi. Provala ora!">
    <meta name="author" content="FatturaSubito">
    <meta name="keywords" content="software fatturazione freelance, gestione preventivi professionisti, fatture PDF online, invio fatture email, programma fatturazione facile, creazione preventivi online, soluzione fatturazione autonomi, app fatture liberi professionisti, strumento preventivi gratuiti, servizio fatture cloud">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="@Url.Content("~/Assets/img/icons/icon-48x48.png")" />

    <title>@ViewBag.Title - FatturaSubito</title>

    @Styles.Render("~/Assets/css/app.css")
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>

</html>