
@{

    ViewBag.Title = "Error404";
}


<!DOCTYPE html>
<html>
<head>
    <title>Non trovato</title>
</head>
<body>
    <div class="text-center my-5">

    <h1>Errore 404: Pagina non trovata!</h1>
    <p>La pagina che stai cercando potrebbe essere stata rimossa, aver cambiato nome o essere temporaneamente non disponibile.</p>
    </div>
</body>
</html>